* {
    box-sizing: border-box;
    margin: auto;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

button {
    cursor: pointer;
}

h1 {
    text-align: center;
}

.switchPageWrapper {
    border: none;
}

.switchPage {
    height: 30px;
    width: 50%;
    border: none;
    font-size: 1rem;
}

.active {
    background-color: black;
    color: white;
}

.sectionWrapper {
    border: 2px solid black;
    border-radius: 5px;
    margin: auto;
    margin-top: 10px;
    width: calc(100% - 10px);
    max-width: 1000px;
}

form {
    margin: 5px;
}

label {
    display:block;
}

label::after {
    content: ":"
}

input {
    display:block;
    width: 100%;
}

.delAdd {
    background-color: black;
    color: white;
    width: calc(100% - 10px);
    margin: 5px;
    border: none;
    border-radius: 2px;
}

.name {
    text-align: center;
    text-decoration: underline;
    font-size: 1.6rem;
}

.infoWrapper {
    font-size: 1.2rem;
    margin: 5px;
}

.reviewWrapper {
    border: 2px solid black;
    border-radius: 5px;
    margin: auto;
    margin-top: 10px;
    width: calc(100% - 10px);
    max-width: 1000px;
}

.personalHeading {
    display: inline-block;
    vertical-align: top;
    width: 150px;
    font-weight: bold;
}

.personalInfo {
    display: inline-block;
    width: calc(100% - 150px);
}

.heading {
    display: inline-block;
    font-size: 1.4rem;
}

.info {
    display: inline-block;
    margin-left: 5px;
    font-size: 1.2rem;
}

.level{
    display: inline-block;
    font-weight: bold;
    font-size: 1.1rem;
}

.educationInfo {
    display: inline-block;
    margin-left: 5px;
    font-size: 1.1rem;
}

.title {
    font-size: 1.6rem;
    text-decoration: underline;
    margin-top: 15px;
}

.position {
    font-weight: bold;
    font-size: 1.2rem
}

.role {
    font-size: 1.1rem;
}

.indent5px {
    margin-left: 5px;
}